body{
background-color: #C0C0C0;
}


li{
margin-right: 220px;
margin-top:27px;
}

table {
text-align: center;	
}

th{
text-align: center;
}

img{
margin-top:10pt;
margin-right: 150pt;
}

#navbar{
background-color: #FFF0F5;
margin-bottom: 100pt;
}

a{
font-style: italic;
color: #FFFAF0;
border-style: double;
border-color: #778899;
}

.container{
color :black;
}

button{
margin-top: 50pt;
}



