li{
margin-right: 250px;
margin-top:50px;
}

.navbar-brand{
margin-bottom: 70pt;	
}

table {
text-align: center;	
}

th{
text-align: center;
}

h2{
text-align: center;
text-decoration: underline;
color: green;
margin-bottom: 70pt;	
}

img{
margin-top: 15pt;
}





